.form {
    text-align: left;
    width: 300px;
    margin: auto;

    input {
        height: 35px;
        width: 300px;
        border-radius: 3px;
        margin: auto;
        font-size: 17px;
        border:none;
    }

    label {
        margin-bottom: -0px;
        color: rgb(255, 255, 255);
    }

    button {
        width: 300px;
        height: 40px;
        margin-top: 40px;
        border-radius: 3px;
        font-size: 17px;
        background-color: rgb(255, 230, 0);
        color: rgba(0, 0, 0, 0.801);
        border: none;
        
    }
    
    .error {
        color: rgb(202, 4, 4);
        font-weight: bold;
    }
}


