.title {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    color: white;
    width: 182px;
    margin:0 auto;

 
    #countsStyle {
        margin-top: -42px;
        font-size: 53px;
    }

    h5 {
        font-size: 13px;
        margin-top: -45px;
        font-weight: lighter;
        text-align: right;
    }
    
}

.comment {
    text-align: center;
    margin-top: 60px;
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
}
